@media (min-width: 1200px)
.cont {
    width: 100%;
    height:100%;
}

@media (min-width: 1200px)
#cont {
    width: 100%;
    height:100%;
}

.page{
    display:flex;
      flex-direction: column;
        align-items: center;
    text-align: center;  
    padding-bottom: 100px;
    background-color: initial!important;
    
    width:85%;
  

}

.feat{
font-size: 18px;
    color: #428bca;
  margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}
.feat:hover{
background-color: #e6e6e6;
cursor:default;
}

h1{
  text-align: center;
  font-family: inherit;
    font-weight: 500;
  font-size: 63px;
    margin-top: 20px;
    margin-bottom: 10px;
  
}

@media only screen and (min-width : 1200px) {

h2{

font-family: Helvetica, Arial, sans-serif;

  top:10% !important;
  color:white !important;
  font-size:60px !important;
}

.icoheader{
margin-left: 120px;
margin-bottom: -15px !important;
}


body {
    display:flex;
      flex-direction: column;
        align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #8c8c8c!important;
    margin:auto;
}

.cont{
  display:flex;
      flex-direction: column;
        align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin:auto;
    width: 100%;
    height:100%;
     background-color: initial!important;

}

#cont {
    width: 100%;
    height:100%;
    background-color: initial!important;
}

a, a:link, a:visited, a:active{
  border:0!important;
      text-decoration: none!important;
color:#777;
font-family: sans-serif;

}



#piechart{
  position:relative;
  left:200px;
  bottom:210px;
}

.navbar{
  
  width:100%;
  
  
background-color: #e6e6e6;


  height:55px;
  padding-bottom: 18px!important;
   margin-bottom: 0px!important;

}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;

}

.btnnav{

display: block;
float:right;
padding-left: 20px;
    margin-top: -18px!important;
cursor:pointer;
font-family: Helvetica,Arial,sans-serif!important;
margin-left: 10px;
}

#btnsnav{
  position:relative;

 left:60%;

width:500px;
height:55px;

text-align:right; 
}

.btn-danger{
  position:relative;
  margin-left:50px;
  
}

.header{
  display:flex;
      flex-direction: column;
        align-items: center;
  width:100%;
  height:250px;
  background-color:blue;

}

.form-control {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

}

input, button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

.invisible{
  display:none;
}

.imgbook{

  margin-right:20px;
  width:160px;
  height: 250px;
}

.content{    
    width: 182px; /*328 co je 1/3 - 20margin left*/
    height: 121px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 100px;

    display:inline-block;
    position:relative;
    z-index:97
}

.glyphicon {
    top: 90%!important;
}


.lk{
  z-index:101;
}

.user{
  z-index:101;
}

.grid {
  width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  border-radius: 5px;
  z-index:-1;
   margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 30px;
  z-index: 1000;

  transition: all 0.4s ease;
          animation: grow 0.4s ;
}

.hid{
  visibility: hidden;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.imgpin{
	position:relative;
	left:0%;
	right:0%;
	top:0%;
	bottom:0%;
	margin-top: -22px;
    margin-right: 0px;
    margin-left: 0px;
	z-index:97;
	
}


.showdrop {
    display: block!important;
}

.dropdown-menu{
	 top: 55px!important;
    left: 73%!important;
    z-index: 2000!important;
}

@keyframes grow {
from {opacity:0;transform: scale(0.0);}
to {opacity:1;transform: scale(1.0);}  
}

.hiditem{
  opacity:0;transform: scale(0.0);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}